@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background: radial-gradient(circle at 83% 70%, rgba(0, 119, 255, 0.205), transparent 15%),
        radial-gradient(circle at 56% 25%, rgba(4, 253, 46, 0.116), transparent 18%),
        radial-gradient(circle at 20% 38%, rgba(253, 4, 237, 0.116), transparent 25%), #000 !important;
    background-attachment: fixed !important;
}

@layer components {
    ::-webkit-scrollbar {
        width: 0.4rem;
    }

    ::-webkit-scrollbar-track {
        @apply bg-black;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-[#0f0f0f];
    }

    .container {
        @apply pr-[15px] pl-[15px] mx-auto;
    }

    @media (min-width: 768px) {
        .container {
            @apply w-[750px];
        }
    }

    @media (min-width: 992px) {
        .container {
            @apply w-[970px];
        }
    }

    @media (min-width: 1200px) {
        .container {
            @apply w-[1170px];
        }
    }
}

.font-jetbrains {
    font-family: 'JetBrains Mono', monospace;
}